div.py-5.px-4.col-12.col-lg-5.p-0.d-flex.flex-column.sidebar.sidebar-mg
    h2.h2 Контакты
    form.d-flex
        input.sidebar-search.form-control.me-2(type="search" placeholder="Поиск по контактам" aria-label="Поиск")
    div.contacts.scroll.overflow-auto
        -
            var contacts = {
                "A": [{
                name: "Алексей Примадонин",
                status: "Онлайн",
                avatar: "img/avatar_3.jpg"
                }],

                "В": [{
                name: "Вениамин Редакторович",
                status: "Онлайн",
                avatar: "img/avatar_4.jpg"
                }],

                "Д": [{
                name: "Джедай Падаванов",
                status: "Был онлайн вчера",
                avatar: "img/avatar_2.jpg"
                }],

                "К": [{
                name: "Кодовёнок Хекслетович",
                status: "Был онлайн 3 часа назад",
                avatar: "img/avatar_1.jpg"
                },
                {
                name: "Королева Верстальщина",
                status: "Была онлайн вчера",
                avatar: "img/avatar_5.jpg"
                }],

                "П": [{
                name: "Питонист Джангович",
                status: "Был онлайн вчера",
                avatar: "img/avatar_6.jpg"
                }],
            }
        each group, letter in contacts
            div.contacts-group
                h3.text-muted=letter
                each user in group
                    div.contacts-card
                        img.rounded-circle(src=user.avatar,alt=user.name)
                        div.contacts-data
                            p.contacts-name.fs-6.fw-bold= user.name
                            p.text-muted.contacts-status= user.status
